<table class='table table-striped"'>
  <tbody>
    <tr><%= image_tag student.get_profile_image(150,150), class: "rounded-lg" %></tr>
    <tr>
      <th>名前</th>
      <td><%= student.last_name %><%= student.first_name %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td><%= student.gender %></td>
    </tr>
    <tr>
      <th>出身地</th>
      <td><%= student.birthplace %></td>
    </tr>
    <tr>
      <th>大学名</td>
      <td><%= student.university_name %></td>
    </tr>
    <tr>
      <th>学年</th>
      <td><%= student.grade %></td>
    </tr>
    <tr>
      <th>学部</th>
      <td><%= student.undergraduate %></td>
    </tr>
    <tr>
      <th>学科</th>
      <td><%= student.course %></td>
    </tr>
    <tr>
      <th>follows</th>
      <td><%= link_to student.followings.count, student_followings_path(student) %></td>
    </tr>
    <tr>
      <th>followers</th>
      <td><%= link_to student.followers.count, student_followers_path(student) %></td>
    </tr>
  </tbody>
</table>
<div class='row'>
  <% if current_student != student %>
    <%= render "public/relationships/btn", student: student %>
  <% end %>
  <%= link_to edit_student_path(student), class: "btn btn-outline-secondary btn-block " do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>