<div class="container px-5 px-sm-0">
  <div class="row mt-4">
    <div class="col-md-3">
      <%= render 'public/students/profile', student: @student %>
    </div>
    <div class="col-md-8 offset-md-1">
      <table class="table table-bordered">
        <thead>
          <th></th>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <% if current_student == @student %>
        <%= form_with model:@taken_course do |f| %>
            <div class="d-flex">
              <%= f.label :科目名 %>
              <%= f.text_field :name %>
              <%= f.select :day_of_week, TakenCourse.day_of_weeks.keys, {prompt: "〇曜日"} %>
              <%= f.select :period, TakenCourse.periods.keys, {prompt: "〇限"} %>
              <%= f.submit "追加", class: 'btn btn-outline-success' %>
            </div>
        <% end %>
        <table class="table table-sm">
          <tbody>
            <% @taken_courses.each do |taken_course| %>
              <tr>
                <td><%= taken_course.name %></td>
                <td><%= taken_course.day_of_week %></td>
                <td><%= taken_course.period %></td>
                <td>
                  <%= link_to taken_course_path(taken_course), method: :delete, class: "btn btn-outline-danger" do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
