<div class="container px-5 px-sm-0">
  <div class="row mt-4">
    <div class="col-md-3">
      <%= render 'public/students/profile', student: @student %>
    </div>
    <div class="col-md-8 offset-md-1">

       <!-- 時間割 -->
      <table class="table table-bordered">
        <thead>
          <th></th>
          <th>月</th>
          <th>火</th>
          <th>水</th>
          <th>木</th>
          <th>金</th>
          <th>土</th>
        </thead>
        <tbody>
          <!-- 月曜から金曜までの5列と1限から5限までの5行 -->
          <% period = 0 %>
          <% while period <= 4 do %>
          <tr>
            <td><%= period + 1 %></td>
            <% day_of_week = 0 %>
            <% while day_of_week <= 5 do %>
              <td><%= @taken_courses.schedule(@student, day_of_week, period) %></td>
              <% day_of_week += 1 %>
            <% end %>
            <% period += 1 %>
          </tr>
          <% end %>
        </tbody>
      </table>

      <!-- 取得オンライン授業一覧 -->
      <h5>オンライン一覧</h5>
      <div class="d-flex flex-wrap">
        <% @taken_courses.where(day_of_week: 6).each do |online| %>
          <div class="card text-white bg-info mr-2"><%= online.name %></div>
        <% end %>
      </div>
      
      <!-- 履修追加フォーム -->
      <% if current_student == @student %>
        <%= form_with model:@taken_course do |f| %>
            <div class="d-flex mt-4">
              <%= f.label :科目名 %>
              <%= f.text_field :name %>
              <%= f.select :day_of_week, TakenCourse.day_of_weeks.keys, {prompt: "〇曜日"} %>
              <%= f.select :period, TakenCourse.periods.keys, {prompt: "〇限"} %>
              <%= f.button class: 'btn btn-outline-success' do %>
                <i class="fas fa-plus"></i>
              <% end %>
            </div>
        <% end %>

        <!-- ログインユーザのみ履修削除 -->
        <div class="d-flex flex-wrap mt-3">
          <% @taken_courses.each do |taken_course| %>
            <div class="card bg-primary text-white ml-2 mb-2" style="width: 8rem;">
              <h5 class="card-title"><%= taken_course.name %></h5>
              <ul class="list-group list-group-flush text-dark">
                <li class="list-group-item"><%= taken_course.day_of_week %></li>
                <li class="list-group-item"><%= taken_course.period %></li>
                <li class="list-group-item">
                  <%= link_to taken_course_path(taken_course), method: :delete, class: "btn btn-outline-danger btn-block" do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
